<footer class="container" style="margin-top: 100px;">
	<p class="text-center"> Copyright ©2016 Rails101 <br>Design by WeiTing,Chen<br>Link to <a href="https://github.com/rf777rf777/Forum" target=_new>Github</a>
	</p>
</footer>